<h1>info.</h1>
<ul>
  <li><p>ここではあなたのプロフィールを作成していただきます</p></li>
  <li><p>現時点ではすべて未記入・未選択のままでもかまいません</p></li>
  <li><p>プロフィールは後から何度でも修正することができます</p></li>
  <li><p>プロフィールを充実させることで、あなたの質問や回答を見た人から信頼を得ることが可能です</p></li>
  <li><p>個人情報保護のため、個人が特定できる内容はお控えください</p></li>
  <li><p>アップロードされた画像は、あなたのアイコンとなります。</p></li>
</ul>