<div class="profile-content-wrapper">
  
  <%= render 'info' %>

  <div class="main-content">
    <h1>-profile edit-<br>プロフィール編集</h1>
    
    <%= render 'form', locals: { profile: @profile } %>

  </div>
</div>