<div class="content-wrap">

  <div class="contents-block">
    <div class="list-title">
      <p>回答募集中 -Must be reconciled-</p>
    </div>
    <div class="content-list">
      <%= render 'consultation', collection: @consultations %>
    </div>
  </div>

  <div class="contents-block">
    <div class="list-title">
      <p>和解済み -Reconciled consultations-</p>
    </div>
    <div class="content-list">
      <p style="color: #ffffff">工事中</p>
    </div>
  </div>

</div>