<div class="content-wrap-n">
  <div class="main-content">
    <p class="form-title-nav">what happened?</p >

    <%= render 'form' %>
    
  </div>
  <div class="nav-bar">
    <div class="nav-messages">
      <h3>？何を書けばいいの？</h3>
      <p><strong>タイトル</strong>:<br>ひと目でどうしたいのかわかるタイトルにしましょう</p><br>
      <p><strong>カテゴリー</strong>:<br>一番近いカテゴリーを選んでください</p><br>
      <p><strong>簡単に言うと</strong>？:<br>今回の相談の要約。ひと言でも大丈夫です</p><br>
      <p><strong>状況や環境等</strong>:<br>あなたが置かれている状況を教えてください! できるだけ詳しく書くと答える人も、よりあなたの親身になって考えられますよ</p><br>
      <p><strong>問題</strong>:<br>結局、あなたはどんなふうに悩みを解決したいですか？ 具体的に書いてみましょう</p><br>
    </div>
  </div>
</div>