html {
  height : 100%;
  width  : 100%;
}

body {
  height      : 100%;
  width       : 100%;
  box-sizing  : border-box;
  font-family : "游ゴシック体", "YuGothic", "游ゴシック", "Yu Gothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  overflow-x  : hidden;
}