.footer-wrap {
  width            : 100vw;
  height           : 7vh;
  min-height       : 50px;
  background-color : black;
  border-top       : 2px ridge #ffffff   ;
  display          : flex;
  justify-content  : center;
  align-items      : center;

  .title {
    margin: 5px;
  }

  h4 {
    color        : #ffffff;
  }
}

@media (max-width: 400px) {
  
  .footer-wrap {
    min-height : 70px;

    h4 {
      font-size : 15px;
    }
  }
}