.footer-wrap {
  width            : 100vw;
  height           : 7vh;
  background-color : black;
  border-top       : 2px ridge #ffffff   ;
  display          : flex;
  justify-content  : center;
}

h4 {
  color        : #ffffff;
  margin-right : 3vw;
}