.header-wrap {
  background-color : rgb(46, 45, 45);
  display          : flex;
  align-items      : center;
  width            : 100vw;
  height           : 50px;
  padding          : 3px;
  position         : fixed;

  .icon1 {
    width      : 10%;
    max-width  : 100px;
    height     : 100%;
  
    .brtc-icon-img { 
      width  :100%;
      height : 100%;
    }
  }

  .icon2 {
    width      : 10%;
    max-width  : 80px;
    height     : 100%;
  
    .home-icon-img {
      width  :100%;
      height : 100%;
    }
  }
  
  .menu-bar {
    width         : 70%;
    height        : 100%;
    display       : flex;
    padding-right : 3%;
  
    .search-form {
      width         : 40%;
      display       : flex;
      align-items   : center; 
      padding-right : 2%;
  
      .input-box {
        width  : 90%;
        height : 90%;
      }
      
      a {
        width           : 10%;
        height          : 90%;
        display         : flex;
        justify-content : center;
        align-items     : center;

        .search-icon {
          min-width   : 30px;
          height      : 100%;
          margin-left : 1%;
        }
      }
      
    }
  
    .menu-buttons {
      width : 60%;
      display         : flex;
      align-items     : center;
      justify-content : center;
  
      .btn {
        width           : 30%;
        height          : 90%;
        background      : rgba(73, 73, 73, 0.64);
        border-radius   : 5px;
        border          : 2px solid #c5c5c5;
        cursor          : pointer;
        display         : flex;
        align-items     : center;
        justify-content : center;
        margin-left     : 3%;
        font-size       : 20px; 
        color           : #ffffff;
        text-decoration : none;
        transition      : .3s;
      }
      .btn:hover {
        box-shadow    : none;
        color         : #ffffff;
        background    : #a3a2a2;
      }

    }
  }
  
  .user-menu-wrap {
    width  : calc(10% + 20px);
    height : 90%;
  
    .user-menu  {
      width                : 100%;
      height               : 100%;
      display              : flex;
      justify-content      : flex-end;
      align-items          : center;
      margin               : 2px;
      padding              : 1px;
      list-style           : none;
      font-size            : 13px;
      padding-inline-start : 1px;
  
      li {
        width  : 100%;
        height : 100%;
  
        a {
          color  : white;
          margin : 1px;
        }
      }
      .user-image, .user-menu-btn {
        width            : 38px;
        height           : 38px;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        background-color : #000000;
        border           : 1px solid #dddddd;
        border-radius    : 50%;
        cursor           : pointer;
        color            : #dddddd;
        font-size        :  18px;
        list-style       : none;

        img {
          width         : 30px;
          height        : 30px;
          border-radius : 50%;
        }
      }



      .user-menu-lists {
        width            : fit-content;
        height           : fit-content;
        display          : none;
        flex-direction   : column;
        justify-content  : center;
        position         : absolute;
        top              : 53px;
        right            : 20px;
        z-index          : 1;
        background-color : #aaaaaa;
        padding          : 3px;
        list-style       : none;

        li {
          width            : 200px;
          height           : auto;
          background-color : #444444;
          border           : 1px solid #dddddd;
          padding-left     : 5px;
          color            : #dddddd;
          font-size        :  20px;
          
          a {
            width :100%;
            display         : block;
            text-decoration : none;
            cursor           : pointer;
          }
          &:hover {
            background-color : #777777;
          }
        }
        .user-nickname-cell {
          background-color: #000000;
          &:hover {
            background-color : #000000;
            cursor           :text;
          }
        }

      }
    }
  }
  
}



@media (max-width: 1024px) {
  
  .header-wrap {
    height : 8vh;

    .icon1 {
      width  : 20%;
      margin : 2%;
    }
  
    .icon2 {
      display : none;
    }
  
    .menu-bar {
      width : 65%;
    
      .search-form {
        width : 60%;
  
        .input-box {
          width   : 60%;
          padding : 2%;
        }
  
        a {
          width : 40%;
        }
      }
  
      .menu-buttons {
        width           : 40%;
        display         : flex;
        justify-content : space-between;
  
        .btn {
          width        : 45%;
          padding      : 0.1vh 0.1vw;
          margin-right : 1%;
          font-size    : 1vw;
        }
      }
    }
  
    .user-menu-wrap {
      width : 15%;

      .user-menu .default-image {
        margin-right : 10px;
      }
    }
  }
}