.ans-s-content-wrapper {
  width            : 100%;
  height           : 100%;
  background-color : #000000;
  display          : flex;
  align-items      : flex-start ;
  padding-top      : 50px;
  overflow         : scroll;

  .float-message-box{
    width            : 500px;
    height           : fit-content;
    display          : none;
    flex-direction   : column;
    align-items      : center;
    background-color : #555555;
    border           : 2px solid #dddddd;
    border-radius    : 10px;
    position         : absolute;
    top              : 310px;
    left             : 100px;
    z-index          : 1;
    @media (max-width: 600px) {
      width : 95%;
      top   : 20vh;
      left  : 1vh;      
    }

    .message-title {
      width            : 98%;
      text-align       : end;
      background-color : #222222;
      border           : 2px solid #dddddd;
      border-radius    : 10px;
      margin           : 5px 10px;
      padding          : 5px;
      color            : #dddddd;
      font-size        : 25px;

      .close-btn {
        border       : 1px solid #dddddd;
        margin-left  : 120px;
        margin-right : 5px;
        cursor       : pointer;
        z-index      : 2;
      }
    }

    .review-menu {
      width            : 98%;
      height           : fit-content;
      background-color : #111111;
      border           : 2px solid #dddddd;
      border-radius    : 10px;
      padding          : 10px;
      color            : #dddddd;

      p {
        font-size : 20px;
      }

      .nikukyu3 {
        width  : 50px;
        height : 17px;
      }
      .nikukyu2 {
        width  : 32px;
        height : 17px;
      }
      .nikukyu1 {
        width  : 17px;
        height : 17px;
      }

      .nikukyu-field {
        display         : flex;
        flex-direction  : row-reverse;
        justify-content : flex-end;
        margin-left     : 20px;

        input {
          display: none;
          &:checked ~ label {
            filter:brightness(1.0);
          }
        }

        label {
          padding-right: 10px;
          cursor : pointer;
          filter:brightness(0.5);
          img {
            width  : 100px;
            height : 100px;
            @media(max-width: 400px) {
              width  : 80px;
              height : 80px;
            }
          }
          &:hover, &:hover ~ label {
            filter:brightness(1.0);
          }
        }

        .hidden-btn {
          display: hidden;
        }
      }
    }
  }

  .top-content {
    width            : 20%;
    height           : 100%;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    border-right     : 1px solid #dddddd;

    .page-title {
      font-size : 30px;
      color     : #dddddd;
    }

    .review-box {
      width            : 90%;
      height           : fit-content;
      background-color : #000000;
      display          : flex;
      justify-content  : center;
      border           : 2px solid #dddddd;
      border-radius    : 5px;
      margin-bottom    : 20px;
      font-size        : 25px;

      .review-num {
        display : flex;
        margin : 5px auto;
        color : #dddddd;
        img {
          width  : 35px;
          height : 35px;
        }
      }
    }

    .button-box {
      width           : 90%;
      height          : fit-content;
      display         : flex;
      flex-direction  : column ;
      justify-content : space-around;
      margin-top      : 10px;
      margin-bottom   : 50px;
      font-size       : 20px;

      .button {
        width         : 100%;
        color         : #dddddd;
        margin-bottom : 20px;

        p, a {
          height          : 50px;
          min-width       : 150px;
          background      : #222222;
          border-radius   : 5px;
          border          : 2px solid #c5c5c5;
          cursor          : pointer;
          display         : flex;
          align-items     : center;
          justify-content : center;
          color           : #dddddd;
          text-decoration : none;
          transition      : .3s;
          &:hover {
            box-shadow    : none;
            color         : #dddddd;
            background    : #a3a2a2;
          }
        }
      }
    }

    .messages {
      width  : 95%;
      height : fit-content;
      color  : #dddddd;

      .message {
        font-size : 15px;
      }
    }
  }


  .main-content {
    width            : 50%;
    height           : 100%;
    display          : flex;
    flex-direction   : column;
    justify-content  : flex-start;
    align-items      : center;
    overflow-y       : scroll;


    .main-top-line {
      display : none;
    }

    .answer-title-wrapper {
      width  : 95%;
      height : fit-content;
      color  : #dddddd;

      .answer-title-label {
        margin    : 5px 0;
        color     : #dddddd;
        font-size : 15px;
      }
      .answer-title-box {
        .answer-title {
          margin :5px 3px;
          font-size  : 25px;
        }
      }
    }

    .date-box {
      width           : 90%;
      height          : fit-content;
      display         : flex;
      justify-content : flex-end;
      p {
        margin    : 5px 0;
        color     : #dddddd;
        font-size : 15px;
      }
    }

    .answer-user-wrapper {
      width           : 90%;
      min-width       : fit-content;
      height          : fit-content;
      display         : flex;
      justify-content : flex-end;
      align-items     : center;
      font-size       : 20px;
      color           : #dddddd;
        
      .answer-user-nickname {
        height          : 45px;
        display         : flex;
        align-items     : center;
        margin          : 5px 5px;
        padding-right   : 10px;
        border          : 2px solid #999999;
        border-radius   : 10px; 
        color           : #dddddd;
        text-decoration : none;
        &:hover { color : #777777;}
        
        .answer-user-image {
          width            : 30px;
          height           : 30px;
          display          : flex;
          justify-content  : center;
          align-items      : center;
          background-color : #000000;
          border           : 1px solid #dddddd;
          border-radius    : 50%;
          margin           : 0 5px 0 10px;
          cursor           : pointer;
          color            : #dddddd;
          font-size        : 16px;
          list-style       : none;

          img {
            @extend .answer-user-image;
            margin  : 0 7px 0 7px
          }
        }
      }
    }

    .answer-text-wrapper {
      width  : 95%;
      height : fit-content;
      color  : #dddddd;

      .answer-text-label {
        margin    : 5px 0;
        color     : #dddddd;
        font-size : 15px;
      }
      .answer-text-box {
        border        : 2px solid #aaaaaa;
        border-radius : 10px;
        p {
          margin        : 3px 3px;
          padding       : 10px;
          font-size     : 15px;
        }
      }
    }

    .ans-images-box {
      width           : 90%;
      height          : fit-content;
      display         : flex;
      justify-content : center;

      .images {
        max-width : 100%;
      }
    }

    .bottom-menus {
      display :none;
    }

  }

  .sub-content {
    width            : 30%;
    height           : 100%;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    

    .comment-menu-title {
      font-size     : 25px;
      color         : #dddddd;
      margin        : 10px 0;
    }

    .comment-menu {
      width            : 95%;
      height           : fit-content;
      min-height       : 90%;
      display          : flex;
      flex-direction   : column;
      align-items      : center;
      border           : 2px solid #bbbbbb;
      border-radius    : 10px;
      overflow-y       : scroll;

      .comment-form-wrapper {
        width          : 100%;
        height         : fit-content;
        display        : flex;
        flex-direction : column;
        align-items    : center;

        p {
          padding    : 5px;
          font-size : 15px;
          color     : #dddddd;
        }

        .input-form {
          width            : 90%;
          height           : 100px;
          background-color : #000000;
          border-bottom    : 1px solid #858585;
          border-top: none;
          border-left : none;
          border-right: none;
          padding          : 5px;
          color            : #dddddd;
          font-size        : 14px;
        }

        .button-box {
          width           : 90%;
          display         : flex;
          justify-content : flex-end;
          .submit-btn {
            width           : 30%;
            min-width       : 100px;
            height          : 40px;
            background      : #000000;
            border-radius   : 5px;
            border          : 1px solid #c5c5c5;
            cursor          : pointer;
            display         : flex;
            align-items     : center;
            justify-content : center;
            margin-left     : 3%;
            color           : #dddddd;
            font-size       : 25px;
            transition      : .3s;
            &:hover {
              box-shadow : none;
              color      : #dddddd;
              background : #a3a2a2;
            }
          }
        }
      }

      .comments-list-wrapper {
        width            : 90%;
        height           : fit-content;
        display          : flex;
        flex-direction   : column;
        align-items      : center;
        border-radius    : 10px;
        margin-bottom    : 15px;

        p {
          color     : #dddddd;
          font-size : 14px;
        }
        
        .ans-comment-box {
          width         : 90%;
          height        : fit-content;
          border        : 1px solid #555555; 
          border-radius : 5px;
          margin        : 10px;
          padding       : 5px;
          color         : #dddddd;

          .ans-comment-username {
            height      : 20px;
            display     : flex;
            align-items : center; 
            margin      : 0 3px 0 5px;
            color           : #8a8a8a;
            text-decoration : none;
            &:hover { color : #dddddd; }

            .comment-user-image {
              width            : 16px;
              height           : 16px;
              display          : flex;
              justify-content  : center;
              align-items      : center;
              background-color : #000000;
              border           : 1px solid #dddddd;
              border-radius    : 50%;
              margin           : 0 5px 0 10px;
              cursor           : pointer;
              color            : #999999;
              font-size        :  16px;
              list-style       : none;
    
              img {
                @extend .comment-user-image;
                margin  : 0 7px 0 7px
              }
            }
          }

          .ans-comment-date {
            color     : #8a8a8a;
            font-size : 14px;
            margin    : 0 3px 0 5px;
          }
        }
      }
    }
  }

}

@media (max-width: 1024px) {

  .ans-s-content-wrapper {
    padding-top : 8vh;

    .top-content {
      display : none;
    }

    .main-content {
      width : 65%;

      .main-top-line {
        display         : flex;
        justify-content : space-between ;
        align-items     : center;
        width           : 90%;
  
        .page-title {
          font-size     : 30px;
          color         : #dddddd;
        }
  
        .review-box {
          width            : 30%;
          min-width        : 230px;
          height           : fit-content;
          max-height       : 200px;
          display          : flex;
          justify-content  : center;
          align-items      : center;
          font-size        : 20px;
          color            : #dddddd;

          .review-label {
            margin: auto 10px;
          }
 
          .review-num, .no-review {
            min-width       : 150px;
            display         : flex;
            justify-content : center;
            border          : 2px solid #dddddd;
            border-radius   : 10px;
            margin          : 5px auto;
            padding         : 5px;
            img {
              width  : 35px;
              height : 35px;
            }
          }
          
        }
      }

      .bottom-menus {
        width            : 95%;
        height           : fit-content;
        display          : flex;
        flex-direction   : column;
        align-items      : flex-start;
    
        .button-box {
          width           : 100%;
          height          : 50px;
          display         : flex;
          justify-content : space-evenly;
          margin-top      : 30px;
          margin-bottom   : 10px;
          font-size       : 20px;
    
          .button {
            width         : 30%;
            height        : 50px;
            color         : #dddddd;
            margin-bottom : 10px;
    
            p, a {
              height          : 50px;
              min-width       : 150px;
              display         : flex;
              align-items     : center;
              justify-content : center;
              background      : #222222;
              border-radius   : 5px;
              border          : 2px solid #c5c5c5;
              margin          : 0;
              cursor          : pointer;
              color           : #dddddd;
              text-decoration : none;
              transition      : .3s;
              &:hover {
                box-shadow : none;
                color      : #dddddd;
                background : #a3a2a2;
              }
            }
           
          }
        }
    
        .messages {
          width  : 95%;
          height : fit-content;
          margin : auto 5%;
          color  : #dddddd;
    
          .message {
            font-size : 15px;
          }
        }
      }
    }

    .sub-content {
      width : 35%;
    }
  }
}

@media (max-width: 858px) {
  .ans-s-content-wrapper {
    display : block;

    .main-content {
      width  : 100%;
      height : fit-content;

    }

    .sub-content {
      width      : 100%;
      height     : fit-content;
      overflow-y : scroll;
    }
  }
}

@media (max-width: 400px) {
  .main-top-line {
    flex-direction: column;
    .review-box {
      margin-left : 30%;
    }
  }
}