.content-wrap {
  width            : 100vw;
  height           : 100%;
  background-color : #444444;
  display          : flex;
  justify-content  : space-around;
  align-items      : flex-start ;
  padding-top      : 50px;
  overflow         : scroll;

  .contents-block {
    width            : 48.5%;
    height           : 100%;
    min-height       : 600px;
    background-color : rgb(153, 152, 152);
    border           : 2px solid black;
    border-radius    : 8px;
    margin           : 0.1% 0.1%;
    padding          : 0.1% 0.1%;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;

  }

  .list-title {
    width            : 100%;
    height           : 8%;
    background-color : #131313;
    border           : 2px solid #ffffff;
    border-radius    : 8px;
    display          : flex;
    justify-content  : center;
    align-items      : center;
    padding          : 0.1vh auto;
    font-size        : 2vw;
    
    p {
      color      : #d6d6d6;
      text-align : center;
    }
  }

  .content-list {
    width            : 100%;
    height           : 92%;
    background-color : #000000;
    border           : 2px solid #ffffff;
    border-radius    : 8px;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    overflow         : scroll;
  }

  .consultations {
    width            : 96%;
    height           : 30%;
    background-color : #222222;
    margin           : 1.5vh 0;
    padding          : 0.5% 2%;
    border           : 1px solid #999999;
    border-radius    : 8px;
    color            : #ffffff;
    text-decoration  : none;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;

    .consultation-title-link {
      width            : 100%;
      height           : 50%;
      background-color : rgb(20, 20, 20); 
      border           : 1px solid #999999;
      border-radius    : 8px;
      display          : flex;
      justify-content  : flex-start;
      align-items      : center;
      color            : #ffffff;
      text-decoration  : none;
      font-size        : 16px;
    }
  
    .user-name {
      width  : 100%;
      height : 30%;
      display          : flex;
      justify-content  : flex-start;
      align-items      : center;
  
      .consultation-user-link {
        color            : #ffffff;
        text-decoration  : none;
      }
    }
  
    .answer-category {
      width   : 100%;
      height  : 20%;
      display : flex;
      justify-content  : flex-start;
      align-items      : center;
  
      .consultation-category {
        margin-left: 10%;
    
        .consultation-category-link {
          color            : #ffffff;
        }
      }
    
      .posted-time {
        margin-left : 10%;
        font-size   : 10%; 
      }
    }
  }
}




@media (max-width: 1024px) {

  .content-wrap {
    padding-top : 8.5vh;
    display          : flex;
    flex-direction   : column;
    justify-content  : flex-start;
    align-items      : center;

    .contents-block {
      width            : 95vw;
      height           : 100%;
      margin-bottom    : 1vh;
      overflow : scroll;

      .list-title {
        font-size : 2vmax;
      }

      .content-list {
        overflow : scroll;
  
        .consultations {
          width  : 98%;
          height : 45%;
          min-height : 20vh;

          .consultation-title-link{
            font-size : 14px;
            margin    : 1px 1px;
            padding   : 1px 5px;
          }
         
          .user-name {
            height    : 20%;
            //font-size : 12px;
          }

          .answer-category {
            height : 30%;
            font-size :12px;
          }
        }
      }
    }
  }
}
