.content-wrap {
  width            : 100vw;
  height           : 100vh;
  background-color : grey;
  display          : flex;
  padding-top      : 8vh;
}

.contents-block {
  width            : 50vw;
  height           : 89.5vh;
  background-color : lightgrey;
  border           : 2px solid black;
  border-radius    : 8px;
  margin           : 0.01% 0.1%;
  padding          : 0.1% 0.1%;
  display          : flex;
  flex-direction   : column;
  justify-content  : center;
  align-items      : center;

}

.list-title {
  width            : 100%;
  height           : 8%;
  background-color : #131313;
  border           : 2px solid #ffffff;
  border-radius    : 8px;
  display          : flex;
  justify-content  : center;
  align-items      : center;
  padding          : 0.1vh auto;
  font-size        : 2vw;
  
  p {
    color      : #d6d6d6;
    text-align : center;
  }
}

.content-list {
  width            : 100%;
  height           : 92%;
  background-color : #5c5c5c;
  border           : 2px solid #ffffff;
  border-radius    : 8px;
  display          : flex;
  flex-direction   : column;
  align-items      : center;
  overflow         : scroll;
}

.consultations {
  width            : 98%;
  height           : 15%;
  background-color : rgb(48, 48, 48);
  margin           : 1vh 0;
  padding          : 0.5% 3%;
  border           : 1px solid #ffffff;
  border-radius    : 8px;
  color            : #ffffff;
  text-decoration  : none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.consultation-title-link {
  width            : 100%;
  height           : 40%;
  background-color : rgb(80, 79, 79); 
  color            : #ffffff;
  text-decoration  : none;
  border           : 2px solid #ffffff;
  border-radius    : 8px;
  padding          : auto 1%;
}

.user-name {
  width  : 100%;
  height : 30%;
}

.consultation-user-link {
  color            : #ffffff;
  text-decoration  : none;
}

.answer-category {
  width   : 100%;
  height  : 20%;
  display : flex;
}

.consultation-category {
  margin-left: 10%;
}

.posted-time {
  margin-left: 10%;
}

.consultation-category-link {
  color            : #ffffff;
  text-decoration  : none;
}

@media (max-width: 1024px) {

  .content-wrap {
    width            : 100vw;
    height           : auto;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
  }

  .contents-block {
    width            : 100vw;
    height           : 80vh;
    margin-bottom    : 1vh;
  }

  .consutation-list {
    overflow : scroll;
  }

  .consultations {
    width  : 98%;
    height : 30%;
  }

  .list-title {
    font-size        : 3.7vw;
  }
}
