.content-wrap-n {
  width            : 100vw;
  height           : 100vh;
  background-color : grey;
  display          : flex;
  padding-top      : 8vh;
    
  .main-content {
    width            : 75%;
    height           : 100%;
    background-color : #000000;
    display          : flex;
    flex-direction   : column;
    justify-content  : center;
    align-items      : center;
    overflow         : scroll;

    .form-title-nav {
      font-size     : 4vh;
      margin-bottom : 1px;
      color         : #ffffff;
    }

    .form-field {
      width : 90%;
      height: 85%;
      
      .form-input-field {
        width            : 100%;
        height           : 91%;
        background-color : #000000;
        border           : 2px ridge #ffffff;
        border-radius    : 2%;
        display          : flex;
        flex-direction   : column;
        justify-content  : flex-start;
        align-items      : center;
        overflow         : scroll;

        .cons-form-parts {
          width            : 97%;
          background-color : #000000;
          margin-top           : 0.5% ;

          .cons-form-label {
            color         : #ffffff;
            height        : 3%;
            padding-bottom: 0.5%;
          }
          
          .cons-title-input {
            width            : 100%;
            height           : 40px;
            border           : 1px solid #ffffff;
            border-radius    : 10px;
            color            : #ffffff;
            background-color : #222222;
          }

          .category-select-box {
            width            : 50%;
            height           : 40px;
            border           : 1px solid #ffffff;
            border-radius    : 10px;
            color            : #ffffff;
            background-color : #222222;
          }

          .cons-summary-input {
            width            : 100%;
            height           : 60px;
            border           : 1px solid #ffffff;
            border-radius    : 10px;
            color            : #ffffff;
            background-color : #222222;
          }

          .cons-situation-input {
            width            : 100%;
            height           : 200px;
            border           : 1px solid #ffffff;
            border-radius    : 10px;
            color            : #ffffff;
            background-color : #222222;
          }

          .cons-problem-input {
            width            : 100%;
            height           : 200px;
            border           : 1px solid #ffffff;
            border-radius    : 10px;
            color            : #ffffff;
            background-color : #222222;
          }
        }

        .file-upload {
          height : 50px;
          color :#ffffff;
          display: flex;
          justify-content : center;
          align-items :center;

          .file-upload input{
            width :100%;
            height :100%;
         }
        }
      }
      .post-btn-contents {
        width            : 100%;
        height           : 8%;
        margin           : 1% 0;
        display          : flex;
        justify-content  : center;
        align-items      : center;
        
        .post-btn {
          width            : 30%;
          height           : 100%;
          background-color : #000000;
          display          : flex;
          justify-content  : center;
          align-items      : center;
          border           : 2px solid #ffffff;
          border-radius    : 10px;
          color            : #ffffff;
          text-align       : center;
          text-decoration  : none;
          font-size        : 3.5vh;
        }
        .post-btn:hover {
          box-shadow    : none;
          color         : #ffffff;
          background    : #a3a2a2;
        }
      }
    }
  }

  .nav-bar {
    width            : 25%;
    height           : 100%;
    overflow         : scroll;
    background-color : rgb(54, 54, 54);
    padding: 1% 1%;
    color :#ffffff;

    h3 {
      text-align :center;
    }
  }
}


.error-alert {
  display :contents;
  color : #ffffff;
}

@media (max-width: 1024px) {
  .content-wrap-n {
    display  : block;
    overflow : scroll;

    .main-content {
      width            : 100%;
      height           : 100%;
      background-color : black;
    
      .form-title-nav {
        font-size      : 3vh;
      }

      .form-field {
        height : 94%;
        
        .form-input-field {
  
          .cons-form-parts {
            
            .cons-title-input {
              height    : 15vh;
              font-size : 16px;
            }
            
            .category-select-box {
              width     : 100%;
              height    : 10vh;
              font-size : 16px;
            }

            .cons-summary-input {
              height    :20vh;
              font-size : 16px;
            }

            .cons-situation-input {
              height    : 60vh;
              font-size : 16px;
            }

            .cons-problem-input {
              height    : 60vh;
              font-size : 16px;
            }
          }
        }
        .post-btn-contents {
          height : 6%;
          
          .post-btn {
            height           : 100%;
            font-size        : 3vh;
          }
        }
      }
    }

    .nav-bar {
      width  : 100%;
      height : 200px;
    }
  }
}