.content-wrap-s {
  width            : 100%;
  height           : 100%;
  background-color : grey;
  display          : flex;
  padding-top      : 50px;
  overflow-y       : scroll;
    
  .main-content {
    width            : 70%;
    height           : 100%;
    background-color : #000000;
    display          : flex;
    flex-direction   : column;
    align-items      : center;
    border-right     : 2px double #dddddd;
    padding-top      : 50px;
    padding-bottom   : 30px;
    overflow-y       : scroll;

    .alert {
      color :#dddddd;
    }

    .what-do-you-want {
      margin-top : 30px;
      font-size : 30px;
      color     : #dddddd; 
      a {
        color :#dddddd;
        &:hover { color : #777777;}
      }
    }

    .icon-box {
      width           : 90%;
      display         : flex;
      justify-content : flex-end;

      p {
        display      : flex;
        align-items  : center;
        color        : #dddddd;
        font-size    : 25px;
        margin-right : 10px;
      }
      img {
        width  : 100px;
        height : 100px;
      }
    }

    .button-box {
      width           : 90%;
      height          : fit-content;
      display         : flex;
      justify-content : space-around;
      margin-top      : 10px;
      margin-bottom   : 50px;
      font-size       : 20px;

      .button {
        color : #dddddd;
        width : 30%;
      }

      a {
        height          : 50px;
        min-width       : 150px;
        background      : #222222;
        border-radius   : 5px;
        border          : 2px solid #c5c5c5;
        cursor          : pointer;
        display         : flex;
        align-items     : center;
        justify-content : center;
        margin-left     : 3%;
        color           : #dddddd;
        text-decoration : none;
        transition      : .3s;
        &:hover {
          box-shadow    : none;
          color         : #dddddd;
          background    : #a3a2a2;
        }
      }
    }


    .cons-title-box {
      width        : 90%;
      height           : fit-content;
      border           : 4px double #dddddd;
      display          : flex;
      justify-content  : flex-start;
      padding          : 10px;
      font-size        : 30px;
      word-break       : break-all;
      p {
        color : #dddddd;
      }      
    }

    .date-box {
      width           : 90%;
      height          : fit-content;
      display         : flex;
      justify-content : flex-end;
      p {
        margin    : 5px 0;
        color     : #dddddd;
        font-size : 15px;
      }
    }

    .is-reconciled {
      width  : 90%;
      height : fit-content;
      display :flex;
      justify-content: flex-end;

      p {
        display      :flex;
        align-items  : center;
        margin-right : 10px;
        color        : #dddddd;
        font-size    : 20px;
        .user-image-c-show {
          width            : 40px;
          height           : 40px;
          display          : flex;
          justify-content  : center;
          align-items      : center;
          background-color : #000000;
          border           : 1px solid #dddddd;
          border-radius    : 50%;
          cursor           : pointer;
          color            : #dddddd;
          font-size        :  16px;
          list-style       : none;
          img { @extend .user-image-c-show; }
        }
      }

      .rec-text-box {
        position: relative;
        display: inline-block;
        margin: 1.5em 0 1.5em 15px;
        padding: 7px 10px;
        min-width: 120px;
        max-width: 100%;
        color: #555;
        font-size: 16px;
        border: solid 3px #555;
        box-sizing: border-box;
        p {
          margin: 0;
          padding: 0;
        }
      
        &:before {
          content: "";
          position: absolute;
          top: 50%;
          left: -24px;
          margin-top: -12px;
          border: 12px solid transparent;
          border-right: 12px solid #000000;
          z-index: 2;
        }
      
        &:after {
          content: "";
          position: absolute;
          top: 50%;
          left: -30px;
          margin-top: -14px;
          border: 14px solid transparent;
          border-right: 14px solid #555;
          z-index: 1;
        }
      }
    }

    .category-box {
      width           : 90%;
      height          : fit-content;
      display         : flex;
      justify-content : flex-start;
      margin-top      : 30px;
      font-size       : 20px;
      p {
        color : #dddddd;
      }

      a {
        width           : 30%;
        min-width       : 200px;
        height          : 90%;
        background      : #222222;
        border-radius   : 5px;
        border          : 2px solid #c5c5c5;
        cursor          : pointer;
        display         : flex;
        align-items     : center;
        justify-content : center;
        margin-left     : 3%;
        color           : #dddddd;
        text-decoration : none;
        transition      : .3s;
        &:hover {
          box-shadow : none;
          color      : #dddddd;
          background : #a3a2a2;
        }
      }
    }

    .tags {
      width           : 90%;
      //height : fit-content;
      background-color: #dddddd;
    }


    .cons-contents-box-label {
      margin    : 25px auto 5px;
      color     :#dddddd;
      font-size : 25px;
    }

    .cons-contents-box {
      width           : 90%;
      height          : fit-content;
      border          : 2px solid #dddddd;
      border-radius   : 10px;
      display         : flex;
      flex-direction  : column;
      justify-content : flex-start;
      align-items     : center;
      color           : #dddddd;

      .content-parts{
        width            : 96%;
        height           : fit-content;
        background-color : rgb(0, 0, 0);
        margin           : 20px 0;

        .content-label {
          font-size : 20px;
          margin    :5px 0 5px;
        }

        .content-text {
          border  : 1px solid #dddddd;
          padding : 10px;
        }
      }
    }

    .cons-images-box {
      width  : 90%;
      height : fit-content;
    }
  }

  .sub-bar {
    width            : 30%;
    height           : 100%;
    background-color : #000000;
    color            :#dddddd;
    overflow-y       : scroll;
    overflow-x       : hidden;

    .sub-content-wrapper {
      height           : 90%;
      background-color : #000000;
      display          : flex;
      flex-direction   : column;
      justify-content  : flex-start;
      align-items      : center;
      margin-bottom    : 10px;

      .sub-content-label {
        height      : fit-content;
        display     : flex;
        align-items : flex-end;
        p {
          font-size            : 24px;
          text-decoration-line : underline;
          margin               : 16px 0 5px 0;
        }
      }

      .sub-content-box {
        width            : 90%;
        height           : 850%;
        background-color : #000000;
        display          : flex;
        flex-direction   : column ;
        justify-items    : flex-start ; 
        align-items      : center;
        border           : 1px solid #555555;
        border-radius    : 10px;
        padding-top      : 10px;
        overflow-y       : scroll;
        p {
          margin-bottom : 5px;
          color         : #dddddd;
        }

        .answer-box-sub {
          width            : 90%;
          height           : fit-content;
          background-color : #000000;
          border           : 1px solid #dddddd;
          border-radius    : 5px;
          margin           : 10px;
          text-decoration  : none;
          &:hover { background-color: #333333;}

          .ans-review {
            width         : fit-content;
            margin        : 5px 0 0 5px;
            border        : 1px solid #999999;
            border-radius : 5px;
          
            img {
              width  : 15px;
              height : 15px;
            }
          }

          .ans-title-sub {
            margin : 3px 0 0 5px;
            color  : #dddddd;
          }
          .ans-username-sub {
            margin : 0 3px 0 5px;
            color  : #8a8a8a;
          }
        }

        .comment-form-wrapper {
          width          : 100%;
          height         : fit-content;
          display        : flex;
          flex-direction : column;
          align-items    : center;

          p {
            padding   : 5px;
            margin    : 0;
            color     : #dddddd;
            font-size : 15px;
          }

          .input-form {
            width            : 90%;
            height           : 100px;
            background-color : #000000;
            border-bottom    : 1px solid #858585;
            border-top: none;
            border-left : none;
            border-right: none;
            padding          : 5px;
            color            : #dddddd;
            font-size        : 14px;
          }

          .button-box {
            width           : 90%;
            display         : flex;
            justify-content : flex-end;
            .submit-btn {
              width           : 30%;
              min-width       : 100px;
              height          : 40px;
              background      : #000000;
              border-radius   : 5px;
              border          : 1px solid #c5c5c5;
              cursor          : pointer;
              display         : flex;
              align-items     : center;
              justify-content : center;
              margin-left     : 3%;
              color           : #dddddd;
              font-size       : 25px;
              transition      : .3s;
              &:hover {
                box-shadow : none;
                color      : #dddddd;
                background : #a3a2a2;
              }
            }
          }
        }

        .cons-comments-wrapper {
          width : 100%;
          display          : flex;
          flex-direction   : column;
          align-items      : center;
          p {
            margin-bottom  : 5px;
            color          : #dddddd;
          }

          .cons-comment-box-sub {
            width            : 90%;
            height           : fit-content;
            background-color : #000000;
            border           : 1px solid #555555;
            border-radius    : 5px;
            margin           : 10px;
            color           : #8a8a8a;

            .cons-comment-text-sub {
              margin : 3px 0 0 5px;
              color  : #dddddd;
            }
            .cons-comment-username-sub {
              margin : 0 3px 0 5px;
              a {
                color           : #8a8a8a;
                text-decoration : none;
                &:hover { color : #dddddd; }
              }
            }
            .cons-comment-date-sub {
              color     : #8a8a8a;
              font-size : 14px;
              margin    : 0 3px 0 5px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {

  .content-wrap-s {
    display : block;
    

    .main-content{
      width         : 100%;
      border-right  : none;
      border-bottom : 2px double #dddddd;

      .button-box {
        a {
          height          : 50px;
          min-width       : 100px;
          background      : #222222;
          border-radius   : 5px;
          border          : 2px solid #c5c5c5;
          cursor          : pointer;
          display         : flex;
          align-items     : center;
          justify-content : center;
          margin-left     : 3%;
          color           : #dddddd;
          text-decoration : none;
          transition      : .3s;
          &:hover {
            box-shadow    : none;
            color         : #dddddd;
            background    : #a3a2a2;
          }
        }
      }
      
      .cons-images-box {
        max-width : 90%;

        img {
          max-width : 100%;
        }
      }
    }

    .sub-bar {
      width : 100%;
    }
  }
}